### DATA SCIENCE MASTER 
ASSIGNMENT 02
 
30TH JAN PYTHON ASSIGNMENT

###1. Write a program to accept percentage from the user and display the grade according to the following
criteria:
  

     Marks          Grade
    1. >90             A
    2.>80 and <=90     B
    3.>=60 and <=80    C
    4.below 60         D

In [ ]:
marks=int(input('Enter the marks of the students:'))
if marks>90 and marks<=100:
  grade='A'
  print('The Grade of the Students is',grade)
elif marks>=80 and marks<=90:
  grade='B'
  print('The Grade of the students is:',grade)
elif marks>=60 and marks<=80:
  grade='C'
  print("The Grade of the students is: ",grade)
elif marks<60:
  grade='D'
  print("The grade of the Students is ",grade)

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the Following

* criteria:
      Tax   Cost
      15%   >100000
      10%   50000 and <=100000
      5%    <=50000

In [ ]:
cost=int(input('Enter the cost of the Bike : '))
if cost>=100000:
  print("The Road tax to be paid:",format(cost*0.15))
elif cost>50000 and cost<=100000:
  print("The Road tax to be paid : ",format(cost*0.1))
elif cost<=50000:
  print(f"The Road tax to be paid : {cost*0.05} ")

Enter the cost of the Bike : 20000
The Road tax to be paid : 1000.0

3. Accept any city from the user and display the monuments of the city:

       City   Monuments
       Delhi  Red fort
       Agra   Taj Mahal
       Jaipur Jal Mamhal

In [ ]:
city=input('''Select the city from below list:
[Delhi   Agra   Jaipur]
city:''')
if city=='Delhi':
  print(f'The Monuments of the Delhi is {"Red Fort"}')
elif city=='Agra':
  print(f'The Monuments of the Agra is {"Taj Mahal"}')
elif city=='Jaipur':
  print(f'The monuments of the Jaipur is {"Jal Mahal"} ')
else:
  print("Enter the Correct name of the city from given list")

Select the city from below list:
[Delhi   Agra   Jaipur]
city:Agra
The Monuments of the Agra is Taj Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
n = int(input("Enter a number:"))
count=1
if(n%3==0 and n!=10):
     count=count+1
print(count)

Enter a number:10
1

5. Why and When to Use while Loop in Python give a detailed description with example

Ans: A while loop in python allows a part of the code to be executed repeatedly as long as a given condition is true. The while loop in python is also called a pre-tested loop. It is typically used when the number of iterations is not known. A python while loop expression condition consists of three parts:
    
  1. A piece of code that needs to be repeated over and over
  2. The while keyword
  3. A condition that translates to either true or false

In [ ]:
n = int(input('Enter a number'))
i = 1
while i <= n :
    j = 1
    while j <= i:
        print(i, end = " ")
        j += 1
    print()
    i += 1

enter a number23
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17
18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18
19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19
20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21
22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22
23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23

6. Use nested while loop to print 3 different patterns.

Ans:

In [6]:
n = int(input('Enter a number: '))
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter a number: 4
*
* *
* * *
* * * *

In [7]:
n = int(input('Enter a number: '))
i = 1
while i <= n :
    j = 1
    while j <= i:
        print(i, end = " ")
        j += 1
    print()
    i += 1

Enter a number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
n = int(input('Enter a number: '))
i = 1
while i <= n :
    j = 0
    while j < i:
        print(i+j, end = " ")
        j += 1
    print()
    i += 1

Enter a number: 6
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11

7. Reverse a while loop to display numbers from 10 to 1.

In [ ]:
i = 10
while i >= 1:
    print(i, end = " ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

8. Reverse a while loop to display numbers from 10 to 1.

In [ ]:
i = 10
while i >= 1:
    print(i, end = " ")
    i -= 1

10 9 8 7 6 5 4 3 2 1