### LOOPS STATEMENTS
1. while
2. for loop
3. nested loops
4. loop control

In [5]:
# While Loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
print('Its time to retire')

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time to retire

In [12]:
## ATM machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put money in the ATM")

1000
900
800
700
600
500
400
300
200
100
Put money in the ATM

In [14]:
# For loop
lst=["Ali",1,22,23,35,56,'apple','banana']
type(lst)

list

In [15]:
lst[4]

35

In [16]:
lst[0]

'Ali'

In [17]:
lst[5]

56

In [20]:
lst[6]

'apple'

In [21]:
lst

['Ali', 1, 22, 23, 35, 56, 'apple', 'banana']

In [23]:
for a in lst:
    print(a)

Ali
1
22
23
35
56
apple
banana

In [44]:
fruits_list=['Mango',"Cherry","Apple","Papaya","Banana"]

In [45]:
for a in fruits_list:
    print(a)

Mango
Cherry
Apple
Papaya
Banana

In [30]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [31]:
fruit[3]

'g'

In [35]:
## NESTED LOOPS
n=7
for i in range(1,n):
    print(i)

1
2
3
4
5
6

In [34]:
#Range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [38]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("")

*
**
***
****
*****
******
*******

In [42]:
## Loop control
## Break and continue

fruits_list=['Mango',"Cherry","Apple","Papaya","Banana"]

In [43]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        break
    print(i)

Mango
Cherry
The fruit is Apple

In [46]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

Mango
Cherry
The fruit is Apple
Apple
Papaya
Banana

In [47]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        continue
    print(i)

Mango
Cherry
The fruit is Apple
Papaya
Banana